.wrapper {
  display: grid;
  grid-template-rows: 3rem auto;
  grid-template-columns: auto;
  grid-template-areas: "header header" "content content";
  height: 100vh;
}
.header {
  grid-area: header;
}

.menu {
  z-index: -10;
  position: fixed;
  padding-top: 4.25rem;
}

.content {
  grid-area: content;
}

@media only screen and (min-width: 480px) {
  .content {
    margin-left: 7rem;
  }

  .menu {
    width: 7rem;
  }
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .content {
    margin-left: 14rem;
  }

  .menu {
    width: 14rem;
  }
}
